<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852070006028-8jomh1tumk88tat9l7hi52c9l1a8p3ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852070006028-8jomh1tumk88tat9l7hi52c9l1a8p3ln</string>
	<key>API_KEY</key>
	<string>AIzaSyBHRYHIZwr54poogqlrTWUXAalydbYC900</string>
	<key>GCM_SENDER_ID</key>
	<string>852070006028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jbChat</string>
	<key>PROJECT_ID</key>
	<string>jb-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>jb-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852070006028:ios:65b407579b7802dd6f5d29</string>
</dict>
</plist>